<div class="container" id="text" style="display:none">
  {{#each this}}
  <div class="card">
    <div class="card-header">
      {{user.username}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{comment_text}}</p>
        <footer class="blockquote-footer">commented on <cite title="Source Title">{{format_date created_at}}</cite>
        </footer>
      </blockquote>
    </div>
  </div>
  {{/each}}
</div>