<li class="list-group-item">
    <h2>
        <a class="link" href="/post/{{id}}">{{title}}</a>
        <a class="btn btn-primary" href="/dashboard/edit/{{id}}"role="button" type="submit">Edit Post</a>
    </h2>
</li>