<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spoiler Alert</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <div class="wrapper">
            <header class="hero">
                <div>
                    <nav class="nav">
                        <a class="link" href="/">Home</a>
                        {{#if loggedIn}}
                        <a class="link" href="/dashboard">My Profile</a>
                        <a class="link" href="/" id="logout">Logout</a>
                        {{else}}
                        <a class="link" href="/login">Login</a>
                        <a class="link" href="/signup">Sign Up</a>
                        {{/if}}
                    </nav>
                </div>

                <h1 class="app-title">
                    <i class="fab"></i>
                    Spoiler Alert
                </h1>
            </header>

            <main>
                {{{ body }}}
            </main>
        </div>

        {{#if loggedIn}}
        <script src="/js/logout.js"></script>
        {{/if}}
        
    </body>
</html>