{{#if posts.length}}
<section>
    <h2>Posts written by you</h2>
    {{#each posts as |post|}}
    {{> dashboard-post post}}
    {{/each}}
</section>
{{/if}}


<a class="btn btn-primary" href="/dashboard/new" role="button">New Post</a>