<form class="card-body new-post-form" id="new-post-form">
    <div class="container">
        <div class="row justify-content-center">

            <div class="mb-3">
                <label for="post-title" class="form-label">Movie or Show Title</label>
                <input type="text" id="post-title" name="post-title" class="form-control">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Post Content</label>
                <textarea rows="5" type="text" class="form-control" id="content" name="content"
                    placeholder="Spoilers encouraged!!!!"></textarea>
            </div>
            <button type="submit" style="width: 25%" class="btn btn-primary">Create</button>

        </div>
    </div>
</form>

<script src="/javascript/add-post.js"></script>