{{!-- <div class="card">
    <h3 class="card-header">Create New Post</h3>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-title" class="form-label">Movie or Show Title</label>
        <input type="text" id="post-title" name="post-title" class="form-input" />


        <label class="form-label" for="content">Content</label>
        <input id="content" name="content" class="form-input" />

        <button type="submit" class="btn">Create</button>
    </form>
</div> --}}
<div class="container">
    <div class="row">

        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Movie or Show Title</label>
            <input type="text" class="form-control" id="formGroupExampleInput">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Post Content</label>
            <textarea rows="5" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Spoilers encouraged!!!!"></textarea>
        </div>
    </div>
</div>



<script src="/javascript/add-post.js"></script>