<div class="card">
    <h3 class="card-header">Sign Up</h3>
    <form id="signup-form" class="card-body">
        <label for="username-signup" class="form-label">Username</label>
        <input id="username-signup" type="text" class="form-input" />

        <label for="email-signup" class="form-label">Email</label>
        <input id="email-signup" type="text" class="form-input" />

        <label for="password-signup" class="form-label">Password</label>
        <input id="password-signup" type="password" class="form-input" />

        <label for="favorite-signup" class="form-label">Favorite Movie</label>
        <input id="favorite-signup" type="text" class="form-input" />

        <button type="submit" class="btn">Signup</button>
    </form>
</div>

<script src="/javascript/signup.js"></script>