<main class="form-signin">
  <form id="signup-form">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
      <input type="username" class="form-control" id="username-signup" placeholder="Username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password-signup" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="favorite-signup" placeholder="Favorite Movie">
      <label for="floatingInput">Favorite Movie</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
  </form>
</main>

<script src="/javascript/signup.js"></script>