{{> post-info post}}

{{#if loggedIn}}
<div class="container">
    <div class="row">
        <div class="col">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="myCheck" onClick="myFunction()" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Click if you have seen this</label>
        </div>
    </div>
        <div class="col">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form class="comment-form" id="comment-form" style="display:none">
                        <textarea name="comment-body" placeholder="Write your comment here"></textarea>
                        <button type="submit" class="btn btn-success green"> Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{{> comments post.comments}}
{{else}}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1 class="col-auto animate__animated animate__lightSpeedInRight">
            If you want to see comments, <br> you're going to have to log in!
        </h1>
    </div>
</div>
<div class="container" style="width:100%">
    <div class="row justify-content-center" style="height:0;padding-bottom:56.25%;position:relative;width:100%">
        <iframe class="col" frameBorder="0" height="50%" src="https://giphy.com/embed/BZMggpshzrPvbfQHIF/video"
            style="position:absolute;top:0" width="100%"></iframe>
    </div>
</div>

{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/switch.js"></script>
<script src="/javascript/check.js"></script>
{{/if}}